
@{
    var cliente = (ENTIDAD.Cliente )ViewData["cliente"];
    var Reserva = (ENTIDAD.Reservacion)ViewData["reservacion"];
    ViewBag.Title = "Reservado";
}
    <div class="container" >
        <center>
            <div class="row">
                <div class="col-4">  </div>


               
                <div class="col-4">
                    <div class="alert alert-info" role="alert">
                        Gracias Por su Reservacion. Vuelva Pronto
                    </div>

                </div>
                <div class="col-4">  </div>
                <div class="container">
                    <h5>Nombre cliente:</h5><p>@cliente.nombre @cliente.apellido1</p> <br />
                    <h5>Correo cliente:</h5><p>@cliente.correo</p><br />
                    <h5>Codigo Habitacion:</h5><p>@Reserva.codigoHabitacion</p><br />
                    <h5>Fecha llegada:</h5><p>@Reserva.fechaLlegada</p><br />
                    <h5>Fecha salida:</h5><p>@Reserva.fechaSalida</p><br />



                    <div class="form-group">
                        @using (Html.BeginForm("view_pdf", "Reserva", FormMethod.Post))
                        {
                            <input type="text" id="nombre" name="nombre" value="@cliente.nombre @cliente.apellido1" hidden>
                            <input type="text" id="correo" name="correo" value="@cliente.correo" hidden>
                            <input type="text" id="codigoHabitacion" name="codigoHabitacion" value="@Reserva.codigoHabitacion" hidden>
                            <input type="text" id="fechaLlegada" name="fechaLlegada" value="@Reserva.fechaLlegada" hidden>
                            <input type="text" id="fechaSalida" name="fechaSalida" value="@Reserva.fechaLlegada" hidden>
                            
                            <center>   <button type="submit" class="btn btn-outline-primary" name="action">Ver pdf</button></center>
                        }
                    </div>
                    <!--<a class="btn btn-outline-info" onclick="viewAsPdf(@cliente.nombre,@cliente.correo)"> Ver pdf</a>
                    -->

                </div>

            </div>
        </center>
      

    </div>

<script>

    function viewAsPdf(nombreCliente,correoCliente,codigoHabitacion,fechaLlegada,FechaSalida) {
     
    
    $.ajax({
        url: @Url.Action("view_pdf", "Reserva"),
        type: "post",
        data: { nombreCliente_: nombreCliente, correoCliente_: correoCliente, codigoHabitacion_: codigoHabitacion, fechaLlegada_: fechaLlegada, FechaSalida_: FechaSalida },
        success: function (result) {
            if (result.success) {
                //Refresh
                window.location.reload();
            }
        }
    });
                 
    }

</script>


