@model IEnumerable<ENTIDAD.Imagen>
@{
    var contenido = (IEnumerable<ENTIDAD.Contenido>)ViewData["contenidoVista"];
    var listadoPromociones = (IEnumerable<ENTIDAD.Promocion>)ViewData["listadoPromociones"];
    var publicidad = (IEnumerable<ENTIDAD.Publicidad>)ViewData["listarPublicidad"];

    ViewBag.Title = "Inicio";
}

<style>
    .gallery {
        filter: brightness(100%);
        animation: escalar;
        cursor: pointer;
        animation: escalar 1.8s infinite alternate;
    }

    #image {
        min-height: 0px;
    }
</style>
<body>
    <div class="container">


        <div class="row">

            <div class="col-lg-12">
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>

                    <!-- The slideshow -->

                    <center>

                        <div class="carousel-inner gallery">
                            <div class="carousel-item active">
                                <img src="~/Content/img/playa1.jpg" class="container-fluid" alt="Los Angeles" width="850" height="300">
                            </div>
                            @foreach (var dato in Model)
                            {
                                <div class="carousel-item">
                                    <img src="@dato.imgPath" class="container-fluid" alt="Los Angeles" width="850" height="300">

                                </div>
                            }
                        </div>

                    </center>

                    <!-- Left and right controls -->
                    <a id="j" class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <center>
                <div class="col-md-10">
                    @foreach (var dato in contenido)
                    {
                        <hr style="border-top: 1px solid #ebe3e3;" width="100%">
                        <center>  <h2 class=""> @Html.DisplayFor(modelItem => dato.titulo)</h2></center>
                        <hr style="border-top: 1px solid #ebe3e3;" width="100%">
                        <center>  <p class="text-justify"> @Html.DisplayFor(modelItem => dato.contenido) </p></center>
                    }
                </div>
            </center>
            <div class="col-md-2"> </div>

        </div>




        <br><br>
        <div class="row  ">

            @foreach (var dato1 in listadoPromociones)
            {
                <div class="card gallery " style="width: 18rem;border:2px solid #ebe3e3; background-color:#ffffff">
                    <p class="card-text">
                        <font style="text-transform: uppercase;">
                            <center>

                                <strong style="background-color:antiquewhite">Promociones Especiales  </strong>

                            </center>
                        </font>
                    </p>

                    <img src="@dato1.imgUrl" class="card-img-top  " width="100" height="100" alt="...">
                    <div class="card-body">


                        <p class="card-text text-justify">@dato1.informacion</p>
                        <h5 class="btn btn-outline-info">Precio: ₡ @dato1.precio</h5>
                        <br>
                        <h5 class="btn btn-outline-info animated infinite zoomInUp slow">RESERVAR AHORA!</h5>

                        <h5 class="btn btn-dark animated infinite  slow">Más Información</h5>
                    </div>
                    <hr style="border-top: 5px solid #808080">
                </div>
                <hr style="        border-top: 1px solid #ebe3e3;">
            }



        </div>
    
    </div>

</body>












