@{
    var contenido = (IEnumerable<ENTIDAD.Contenido>)ViewData["contenidoVista"];

}
@model IEnumerable<ENTIDAD.Imagen>
    <div class="container">
        <div class="row">
            <div class="col-md-3">


            </div>
            <div class="col-md-6">
               
                @if (ViewBag.mensaje != null)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Estado!</strong> @ViewBag.mensaje
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }

                @foreach (var dato in contenido)
                {
                    <form action="/Contenido/ModificarContenido" method="post">

                        <hr style="color: #47748b">
                        <center> <font size="4">Sobre Nosotros </font></center>
                        <div class="form-group">
                            <label> Titulo</label>
                            <input class="form-control" placeholder="Titulo" value="@dato.titulo" name="titulo" id="titulo">
                        </div>
                        <div class="form-group">
                            <label> Contenido</label>
                            <textarea class="form-control" placeholder="Contenido" name="contenido"
                                      id="contenido" value="@dato.contenido">@dato.contenido </textarea>
                        </div>
                        <div class="form-group">

                            <center> <button type="submit" 
                                             class="btn btn-outline-warning"><i class="bx 
bx-revision"></i>
                                Actualizar  </button></center>
                        </div>
                    </form>
                }
                <br><br>
                <div class="form-group">
                    <center>
                        <a href="#" data-toggle="modal" data-target="#exampleModalCenter">
                            Nuevo Registro
                            <img src="~/Content/img/add.svg" width="30" height="30" />
                        </a>
                    </center>
                    <br>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Imagen</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.idImagen</th>

                                    <td> <img src="@item.imgPath" width="75" height="75" /></td>
                                    <td>
                                        <a data-toggle="modal" data-target="#exampleModal" onclick="return mifuncion( @Html.DisplayFor(modelItem => item.idImagen),
                                                '@Html.DisplayFor(modelItem => item.imgPath)' )">

                                            <img src="~/Content/img/mod1.svg" width="30" height="30" />
                                        </a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("eliminarSobreNosotros", "Contenido", new { idImagen = @item.idImagen})">
                                            @*@Html.ActionLink("Contenido", "eliminarSobreNosotros", new { idImagen = @item.idImagen }, new { @class = "btn btn-danger" }, new{@src=""})*@

                                            <img src="~/Content/img/eliminar.svg" width="30" height="30" />
                                        </a>
                                    </td>

                                </tr>
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modificar galería</h5>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="javascripts:;">
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="form-group">
                                                                    <input type="hidden" id="modalid" name="modalid" class="form-control" />

                                                                </div>
                                                                <div class="form-group">
                                                                    <img name="modalimg" id="modalimg" width="100" height="100" />
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="custom-file">
                                                                        <input type="file" class="custom-file-input" id="fileUpload" name="fileUpload">
                                                                        <label class="custom-file-label" for="customFile">Cambiar Imagen</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                <button type="button" name="btn" id="btn" class="btn btn-outline-warning">Modificar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </tbody>
                    </table>
                </div>



                <br>
                <center> <a href="/Contenido/AdministrarPaginas" class="btn btn-primary"><i class="bx
bx-arrow-back"></i> Regresar</a></center>

            </div>

            <div class="col-md-3">


            </div>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Agregar Imagen</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form action="javascripts:;">
                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="fileUpload1" name="fileUpload1">
                                    <label class="custom-file-label" for="customFile">Agregar nueva Imagen</label>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" id="btnAdd" name="btnAdd" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Scripts/jquery-3.3.1.js"></script>
        <script type="text/javascript">
            function mifuncion(id, str) {
                var res = str.substring(10, str.length);
                $("#modalid").val(id);
                var newRuta = "/Content/img/" + res;
                $("#modalimg").attr("src", newRuta);
            }
               $(document).ready(function (){

                        $("#btn").click(function (){
                            var selectFile = ($("#fileUpload"))[0].files[0];
                            var dataString = new FormData();
                            var idImagen = $("#modalid").val();

                            dataString.append("fileUpload", selectFile);
                           dataString.append("idImagen", idImagen);

                            $.ajax({

                                url: '@Url.Action("ModificarImagen", "Contenido")',
                                type: 'POST',
                                data: dataString,
                                contentType: false,
                                processData: false,
                                async: false,
                                success: function () {
                                    alert('Imagen Modificada con exito');
                                  //  $("#alertControl").html('<div class="alert alert-success" id="alert">' + 'Exito' + '</div>');

                                    if (typeof (data.Value) != "undefined") {
                                        alert(data.Message);
                                    } else { alert('Imagen Subida con exito'); }
                                },
                                error: function (data) {
                                }
                            });
                        });



                   $("#btnAdd").click(function (){
                            var selectFile = ($("#fileUpload1"))[0].files[0];
                            var dataString = new FormData();
 
                         dataString.append("fileUpload1", selectFile);

                            $.ajax({

                                url: '@Url.Action("RegistrarSobreNosotros", "Contenido")',
                                type: 'POST',
                                data: dataString,
                                contentType: false,
                                processData: false,
                                async: false,
                                success: function () {
                                    alert('Imagen Subida con exito');
                                  //  $("#alertControl").html('<div class="alert alert-success" id="alert">' + 'Exito' + '</div>');

                                    if (typeof (data.Value) != "undefined") {
                                        alert(data.Message);
                                    } else { alert('Imagen Subida con exito'); }
                                },
                                error: function (data) {
                                }
                            });
                        });
                    });
        </script>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>



    </div>
