
@model IEnumerable<ENTIDAD.TipoHabitacion>

    <style>
        .gallery {
            filter: brightness(100%);
            animation: escalar;
            cursor: pointer;
            animation: escalar 1.8s infinite alternate;
        }

        #image {
            min-height: 0px;
        }
    </style>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <strong>
                <font style="text-transform: uppercase;">
                    <hr style="color: #47748b; ">
                    <center class="animated infinite bounceOut" slow>
                        Tarifas  <img src="~/Content/img/business.png" width="40" height="40" />
                    </center>
                    <hr style="color: #47748b; ">
                </font>
            </strong>
        </div>
        <div class="col-4"></div>
    </div>
    <br><br>
        <div class="row ">

            @foreach (var dato in Model)

            {
                <div class="card gallery" style="width: 30rem;border:2px solid #ebe3e3">
                   
                    @*<hr style="border-top: 1px solid black;">*@
                    <img src="@dato.urlImg" class="card-img-top " width="300" height="300" alt="...">
                    <div class="card-body">

                        <p class="card-text">
                            <font style="text-transform: uppercase;">
                                <center>
                                    <hr style="border-top: 1px solid black;" width="50%">
                                      <strong>Habitación: @dato.nombre  </strong>
                                    <hr style="border-top: 1px solid black;" width="50%">
                                </center>
                            </font>
                        </p>
                        <p class="card-text text-justify">@dato.descripcion</p>
                        <h5 class="btn btn-outline-info animated infinite bounceIn slow"  >Precio: ₡@dato.precio</h5>
                        <br>
                        <h5 class="btn btn-dark animated infinite bounceInRight slow" >Más Información</h5>
                    </div>
                    <hr style="border-top: 5px solid #ebe3e3;">
                </div>


                <hr style="        border-top: 1px solid #ebe3e3;">

            }
        </div>
    </div>


            @*@model IEnumerable<ENTIDAD.TipoHabitacion>
                @{
                    ViewBag.Title = "Tarifas";
                }

                <div class="row">
                    @foreach (var dato in Model)
                    {
                    <div class="col-sm-6">
                        <div class="card" style="width:600px; margin:25px;">
                            <hr style="border-top: 1px solid black;">
                            <img src="@dato.urlImg" class="card-img-top" width="150" height="300" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@dato.nombre</h5>
                                <p class="card-text">@dato.precio</p>
                                <p class="card-text">@dato.descripcion</p>
                                <hr style="border-top: 1px solid black;">
                            </div>
                            <hr style="border-top: 5px solid black;">
                        </div>
                    </div>
                    }
                </div>*@




            @*<style>
                    .gallery {
                        filter: brightness(130%);
                        animation: escalar;
                        cursor: pointer;
                        animation: escalar 1.4s infinite alternate;
                    }

                    .modal-dialog {
                        max-width: 800px;
                        margin: 30px auto;
                    }



                    .modal-body {
                        position: relative;
                        padding: 0px;
                        min-height: 400px;
                        background: #ccc;
                    }




                    .close {
                        position: absolute;
                        right: -30px;
                        top: 0;
                        z-index: 999;
                        font-size: 2rem;
                        font-weight: normal;
                        color: #fff;
                        opacity: 1;
                    }

                    #image {
                        min-height: 200px;
                    }
                </style>
                <div class="container">
                    <div class="row">
                        <div class="col-4"></div>
                        <div class="col-4">
                            <strong>
                                <font style="text-transform: uppercase;">
                                    <hr style="color: #47748b; ">
                                    <center class="animated infinite bounceOut" slow>
                                       Tarifas  <img src="~/Content/img/business.png" width="40" height="40" />
                                    </center>
                                    <hr style="color: #47748b; ">
                                </font>
                            </strong>
                        </div>
                        <div class="col-4"></div>
                    </div>
                    <br><br>
                    <div class="row ">

                        @foreach (var dato in Model)

                        {
                            <div class="col-sm-4">
                                <div class="form-group gallery">
                                    <img src="@dato.urlImg" data-target="#myModal" data-toggle="modal" class=" card-img-top" width="400" height="300" alt="...">
                                    <br><br><br />       <br><br><br />
                                </div>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">


                                            <div class="modal-body">

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>

                                                <img src="//media.tenor.com/images/556e9ff845b7dd0c62dcdbbb00babb4b/tenor.gif" alt="" id="image" class="img-fluid">



                                            </div>

                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <div class="col-lg-4"> </div>
                                    <div class="col-lg-4">
                                        <hr style="color: #47748b; ">
                                        <img width="40" height="40" src="~/Content/img/room.png" /> <strong>  Habitacion: @dato.nombre </strong>
                                        <hr style="color: #47748b; ">
                                    </div>

                                </div>


                                <div class="form-group animated" style="border:inherit">
                                    Precio: ₡@dato.precio
                                </div>
                                <div class="form-group">
                                    Descripción: @dato.descripcion
                                </div>

                            </div>
                            <div class="col-sm-4"></div>

                        }

                    </div>



                </div>*@

