@model IEnumerable<ENTIDAD.Itinerario>

<div class="container ">
    <center>
        <a class="" href="#" data-toggle="modal" data-target="#exampleModal2">  Agregar Registro       <img src="~/Content/img/add.svg" width="30" height="30" />      </a>
    </center>
    <br>
    <br>
    <div class="row">

        <table class="table table-hover" aria-label="Page navigation example">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Dia</th>
                    <th scope="col"> Desayuno</th>
                    <th scope="col">Comida</th>
                    <th scope="col"> Almuerzo</th>
                    <th scope="col">Comida</th>
                    <th scope="col"> Cena</th>
                    <th scope="col">Comida</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dato in Model)

                {
                    <tr>
                        <th>@dato.idItinerario</th>
                        <th>@dato.dia</th>
                        <td>@dato.desayuno</td>
                        <th> <img src="@dato.imgUrlDesayuno" class="card-img-top" width="40" height="120"></th>
                        <td>@dato.almuerzo</td>
                        <th> <img src="@dato.imgUrlAlmuerzo" class="card-img-top" width="40" height="120"></th>
                        <td>@dato.cena</td>
                        <th> <img src="@dato.imgUrlCena" class="card-img-top" width="40" height="120"></th>
                        <td>
                            <a href="@Url.Action("ListarItinerarioById", "Itinerario", new { id= dato.idItinerario})">   <img src="~/Content/img/mod1.svg" width="30" height="30" /></a>
                        </td>
                        <td>
                            <a href="@Url.Action("EliminarItinerario", "Itinerario", new { id= dato.idItinerario})">

                                <img src="~/Content/img/eliminar.svg" width="30" height="30" />
                            </a>
                        </td>

                    </tr>
                }
            </tbody>

            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>

        </table>



        <!----------------------------Modal Registrar------------------------------------------------->>

        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Registrar nuevo Itinerario</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <label>Dia</label>
                            <input type="text" class="form-control" id="dia1" name="dia1">
                            <br>
                            <label>Desayuno</label>
                            <input type="text" class="form-control" id="desayuno1" name="desayuno1">
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="fileUpload11" name="fileUpload11">
                                                <label class="custom-file-label" for="customFile">Subir Imagen</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label>Almuerzo</label>
                            <input type="text" class="form-control" id="almuerzo1" name="almuerzo1">
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="fileUpload12" name="fileUpload12">
                                                <label class="custom-file-label" for="customFile">Subir Imagen</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label>Cena</label>
                            <input type="text" class="form-control" id="cena1" name="cena1">
                            <br>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <div class="form-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="fileUpload13" name="fileUpload13">
                                                <label class="custom-file-label" for="customFile">Subir Imagen</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" id="btnRegistrar" name="btnRegistrar" class="btn btn-secondary">Guadar Cambios</button>
                    </div>
                </div>
            </div>
        </div>
        <!--------------------FIN-------------------->>
        <center> <a href="/Contenido/AdministrarPaginas" class="btn btn-primary"> <i class="bx
bx-arrow-back"></i>Regresar</a></center>

    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.js"></script>

<script>
          $(document).ready(function (){

          $("#btnRegistrar").click(function () {
              var selectFile = ($("#fileUpload11"))[0].files[0];
              var selectFile2 = ($("#fileUpload12"))[0].files[0];
              var selectFile3 = ($("#fileUpload13"))[0].files[0];
              var dataString = new FormData();

              var dia = $("#dia1").val();
              var desayuno = $("#desayuno1").val();
              var almuerzo = $("#almuerzo1").val();
              var cena = $("#cena1").val();


              dataString.append("fileUpload", selectFile);
              dataString.append("fileUpload2", selectFile2);
              dataString.append("fileUpload3", selectFile3);
              dataString.append("dia", dia);
              dataString.append("desayuno", desayuno);
              dataString.append("almuerzo", almuerzo);
              dataString.append("cena", cena);

          

                            $.ajax({

                                url: '@Url.Action("RegistrarItinerario", "Itinerario")',
                                type: 'POST',
                                data: dataString,
                                contentType: false,
                                processData: false,
                                async: false,
                                success: function () {
                                    alert('Registrado con exito');
                                    $("#alertControl").html('<div class="alert alert-success" id="alert">' + 'Exito' + '</div>');
                                    if (typeof (data.Value) != "undefined") {
                                        alert(data.Message);
                                    } else {  }
                                },
                                error: function (data) {
                                }
                            });
                        });

                    });
</script>