@model IEnumerable<ENTIDAD.Itinerario>

    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <strong>
                    <font style="text-transform: uppercase;">
                        <hr style="color: #47748b; ">
                        <center>
                            <img src="~/Content/img/calendario.svg" width="40" height="40" /> Itinerario Semanal
                        </center>
                        <hr style="color: #47748b; ">
                    </font>
                </strong>
            </div>
            <div class="col-4"></div>
        </div>
        <style>


            .modal-dialog {
                max-width: 800px;
                margin: 30px auto;
            }



            .modal-body {
                position: relative;
                padding: 0px;
                min-height: 400px;
                background: #fff;
            }




            .close {
                position: absolute;
                right: -30px;
                top: 0;
                z-index: 999;
                font-size: 2rem;
                font-weight: normal;
                color: #fff;
                opacity: 1;
            }

            #image {
                min-height: 200px;
            }
        </style>
        <div class="row">

            @foreach (var dato in Model)
            {

            <div class="card" style="width: 19rem;">
                
                <div class="card-header">
                    <p class="card-text">
                        <font style="text-transform: uppercase;">
                            <center>

                                <center class="">    <img src="~/Content/img/isla.png" /><strong> @dato.dia  </strong></center>

                            </center>
                        </font>
                    </p>


                </div>

                
                
                <div class="card-body">
                    <div class="gallery">
                        <img src="@dato.imgUrlDesayuno" class="card-img-top" data-target="#myModal" width="80" height="150" alt="..." data-toggle="modal" data-bigimage="@dato.imgUrlDesayuno">
                    </div>
                    <br />
                    <h5 class="card-title">Desayuno</h5>
                    <br />
                    <p class="card-text">@dato.desayuno</p>
                    
                </div>
            </div>


                <hr style="border-top: 4px solid gray;">

                <div class="card text-center" style="width: 19rem;">
                    <div class="card-header">
                        <p class="card-text">
                            <font style="text-transform: uppercase;">
                                <center class="">
                                <img src="~/Content/img/isla.png" /><strong> @dato.dia  </strong></center>
                            </font>
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="gallery">
                            <img src="@dato.imgUrlAlmuerzo" class="card-img-top" data-target="#myModal" width="80" height="150" alt="..." data-toggle="modal" data-bigimage="@dato.imgUrlAlmuerzo">
                        </div>
                        <br />
                        <h5 class="card-title">Almuerzo</h5>
                        <br />
                        <p class="card-text">@dato.almuerzo</p>
                    </div>
                   
                </div>


                <hr style="border-top: 4px solid black;">


                <div class="card text-right" style="width: 19rem;">

                    <div class="card-header">
                        <p class="card-text">
                            <font style="text-transform: uppercase;">
                                <center class="">
                                   <img src="~/Content/img/isla.png" /><strong>
                                        @dato.dia
                                    </strong>
                                </center>
                            </font>
                        </p>

                    </div>

                    <div class="card-body">

                        <div class="gallery">
                            <img src="@dato.imgUrlCena" class="card-img-top" data-target="#myModal" width="80" height="150" alt="..." data-toggle="modal" data-bigimage="@dato.imgUrlCena">
                        </div>
                        <br />
                        <h5 class="card-title">Cena</h5>
                        <br />
                        <p class="card-text">@dato.cena</p>
                    </div>

                </div>

                
            

        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="border-top:8px solid white">
            <div class="modal-dialog" role="document">
                <div class="modal-content">


                    <div class="modal-body">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <div style="border-top:8px solid white">
                            <center>
                            <img src="//media.tenor.com/images/556e9ff845b7dd0c62dcdbbb00babb4b/tenor.gif" alt="" id="image" class="img-fluid">
                                </center>
                        </div>


                    </div>

                </div>
            </div>
        </div>





        <script type="text/javascript">
            $(document).ready(function () {
                // Gets the video src from the data-src on each button
                var $imageSrc;
                $('.gallery img').click(function () {
                    $imageSrc = $(this).data('bigimage');
                });
                console.log($imageSrc);



                // when the modal is opened autoplay it
                $('#myModal').on('shown.bs.modal', function (e) {

                    // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get

                    $("#image").attr('src', $imageSrc);
                })

                // reset the modal image
                $('#myModal').on('hide.bs.modal', function (e) {
                    // a poor man's stop video
                    $("#image").attr('src', '');
                })

                // document ready
            });

        </script>
    </div>



