@model IEnumerable<ENTIDAD.Itinerario>

    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <strong>
                    <font style="text-transform: uppercase;">
                        <hr style="color: #47748b; ">
                        <center>
                            <img src="~/Content/img/calendario.svg" width="40" height="40" /> Itinerario Semanal
                        </center>
                        <hr style="color: #47748b; ">
                    </font>
                </strong>
            </div>
            <div class="col-4"></div>
        </div>

                <div class="row">

                    @foreach (var dato in Model)
                    {

                        <div class="card" style="width: 19rem;">
                            <p class="card-text">
                                <font style="text-transform: uppercase;">
                                    <center>
                                        <center class="" >    <img src="~/Content/img/isla.png" /><strong> @dato.dia  </strong></center>
                                    </center>
                                </font>
                            </p>
                            <hr style="border-top: 1px solid gray;">
                            <img src="@dato.imgUrlDesayuno" class="card-img-top" width="80" height="100" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Desayuno</h5>
                                <p class="card-text">@dato.desayuno</p>
                                <hr style="border-top: 1px solid gray;">
                            </div>
                            <hr style="border-top: 5px solid gray;">
                        </div>


                        <hr style="border-top: 5px solid gray;">

                        <div class="card text-center" style="width: 19rem;">
                            <p class="card-text">
                                <font style="text-transform: uppercase;">
                                    <center class="">    <img src="~/Content/img/isla.png" /><strong> @dato.dia  </strong></center>
                                </font>
                            </p>
                            <hr style="border-top:1px solid gray;">
                            <img src="@dato.imgUrlAlmuerzo" class="card-img-top" width="80" height="100" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Almuerzo</h5>
                                <p class="card-text">@dato.almuerzo</p>
                                <hr style="border-top: 1px solid gray;">
                            </div>
                            <hr style="border-top: 5px solid gray;">
                        </div>


                        <hr style="border-top: 5px solid black;">


                        <div class="card text-right" style="width: 19rem;">
                            <p class="card-text">
                                <font style="text-transform: uppercase;">
                                    <center class="">    <img src="~/Content/img/isla.png" /><strong> @dato.dia  </strong></center>
                                </font>
                            </p>
                            <hr style="border-top: 1px solid gray;">
                            <img src="@dato.imgUrlCena" class="card-img-top" width="80" height="100" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Cena</h5>
                                <p class="card-text">@dato.cena</p>
                                <hr style="border-top: 1px solid gray;">
                            </div>
                            <hr style="border-top: 5px solid  gray;">

                        </div>

                    }


                </div>



            </div>



