

@model IEnumerable<ENTIDAD.TipoHabitacion>




<div class="container">
  
    <br><br>
    @foreach (var tipoHabitacion in Model)
    {
<div class="row">


    <div class="col-sm-4"></div>
    <div class="col-sm-4">
       
            <center>

                @if (ViewBag.mensaje != null)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Estado!</strong> @ViewBag.mensaje
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }


            </center>
      
        <br>
        <hr style="border-top: 1px solid black;" width="60%">
        <center> <h5>Modificar Habitaciones</h5></center>
        <hr style="border-top: 1px solid black;" width="60%">
       

        
        <form method="post" action="/Habitaciones/modificarTipoHabitacion">

            <center>
                <div class="form-group ">
                    <input type="hidden" readonly name="codigoTipoHabitacion" id="codigoTipoHabitacion" class="form-control" value="@tipoHabitacion.codigoTipoHabitacion">
                </div>
            </center>
            <center>
                <div class="form-group ">
                    <label for="exampleFormControlTextarea1">Precio de Habitación</label>
                    <input type="number" name="precio" id="precio" class="form-control" value="@tipoHabitacion.precio">
                </div>
            </center>
            <center>
                <div class="form-group ">
                    <label for="exampleFormControlTextarea1">Tipo de Habitación</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" value="@tipoHabitacion.nombre">
                </div>
            </center>

            <center>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Descripción habitación</label>

                    <textarea class="form-control" name="descripcion" id="descripcion" rows="10"> @tipoHabitacion.descripcion</textarea>
                </div>
            </center>
            <center>
                <div class="form-group">
                    <button class="btn btn-outline-warning" type="submit"> Modificar Texto</button>
                </div>
            </center>
        </form>

    </div>
    <div class="col-sm-4"></div>
</div>
    <br><br>
<form action="javascripts:;">
    <div class="row">
    
        <div class="col-6">
            <div class="form-group">
               <center> <h5 for="exampleFormControlTextarea1">Imagen Actual</h5></center>
                <img src="@tipoHabitacion.urlImg" class="container-fluid" alt="Los Angeles" width="50" height="200">

            </div>
        </div>
        <div class="col-6">


            <div class="form-group">
                <center> <h5 for="exampleFormControlTextarea1">Imagen Actualizar</h5></center>
                <input class="form-control" type="file" id="fileUpload" name="fileUpload">
            </div>

            <input class="btn btn-outline-warning" type="button" name="btn" value="Modificar Imagen" id="btn">
        </div>
    </div>
</form>
        <br><br>
    <center>
              @Html.ActionLink("Regresar", "filtrarHabitaciones", new { idTipoHabitacion = @tipoHabitacion.codigoTipoHabitacion }, new { @class = "btn btn-outline-info" })

    </center>
        }
    <br><br> <br><br>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
                        $(document).ready(function (){

                            $("#btn").click(function () {

                                var selectFile = ($("#fileUpload"))[0].files[0];

                            var dataString = new FormData();

                                dataString.append("fileUpload", selectFile);
                             
                                var cod = ($("#codigoTipoHabitacion").val());
                                dataString.append("cod", cod);
                            $.ajax({
                             url: '@Url.Action("modificarImagenTipoHabitacion", "Habitaciones")',
                                type: 'POST',
                                data: dataString,
                               // data: { dataString, "codigoTipoHabitacion": cod },
                                contentType: false,
                                processData: false,
                                async: false,
                                success: function () {
                                    alert("Subida con exito");
                                    console.log("correcto");
                                },
                                error: function (data) {
                                }
                            });
                        });

                        });
</script>
